# Spring Boot
/target/
/build/

# IDE files
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
/.settings/

# Logs
logs/
*.log

# Eclipse
bin/
tmp/
*.tmp/
*.bak/
*.swp/
*~

# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Maven
log/
target/